@use "colors";

.page-action-btn {
	border-radius: 999px;
	text-decoration: none;
	border: 1px solid colors.$color-hiver;
	background: colors.$color-hiver;
	color: colors.$color-white;
	padding: 0.7rem;
	border-radius: 999px;
	cursor: pointer;
	box-shadow: 0 2px 10px colors.$color-box-shadow;
	text-align: center;
	white-space: nowrap;
	width: auto;
	
	&:hover {
		filter: brightness(1.20);
	}

	&:disabled {
		opacity: 0.45;
		cursor: not-allowed;
		filter: saturate(0.35);
		box-shadow: none;
	}
}

.page-action-btn-secondary {
	background: colors.$color-white;
	color: colors.$color-hiver;
}
