@use 'sass:color';

// Variables de couleurs
$color-bg-page: #e9ecf3;
$color-border-section: #d3d7e3;
$color-white: #fff;
$color-black: #000;
$color-border-gray: #ccc;
$color-border-separator: #bbb;
$color-border-cercle: #888;
$color-text-muted: #555;
$color-text-main: #444;
$color-text-dark: #333;
$color-text-label: #222;
$color-box-shadow: rgba(0, 0, 0, 0.1);
$color-box-shadow-hover: rgba(0, 0, 0, 0.15);

// couleurs saisonnières
$color-hiver: #235a8a;
$color-hiver-light: color.adjust($color-hiver, $lightness: 20%);
$color-hiver-lighter: color.adjust($color-hiver, $lightness: 55%);

$color-printemps: #2c7a4b;
$color-printemps-light: color.adjust($color-printemps, $lightness: 20%);
$color-printemps-lighter: color.adjust($color-printemps, $lightness: 55%);

$color-ete: #bfa600;
$color-ete-light: color.adjust($color-ete, $lightness: 20%);
$color-ete-lighter: color.adjust($color-ete, $lightness: 55%);

$color-automne: #a13a3a;
$color-automne-light: color.adjust($color-automne, $lightness: 20%);
$color-automne-lighter: color.adjust($color-automne, $lightness: 50%);

$color-temps: #999;
$color-temps-light: color.adjust($color-temps, $lightness: 20%);
$color-temps-lighter: color.adjust($color-temps, $lightness: 35%);

$color-rupture: #7d5fa3;
$color-rupture-light: color.adjust($color-rupture, $lightness: 20%);
$color-rupture-lighter: color.adjust($color-rupture, $lightness: 55%);