// Variables de couleurs
$color-bg-page: #e9ecf3;
$color-border-section: #d3d7e3;
$color-white: #fff;
$color-border-gray: #ccc;
$color-border-separator: #bbb;
$color-border-cercle: #888;
$color-text-muted: #555;
$color-text-main: #444;
$color-text-dark: #333;
$color-text-label: #222;

// couleurs saisonnières
$color-hiver-lighter: #e3ecf7;
$color-hiver-light: #b3cbe6;
$color-hiver: #235a8a;

$color-printemps-lighter: #e6f7e3;
$color-printemps-light: #b6e6b3;
$color-printemps: #2c7a4b;

$color-ete-lighter: #f7f5e3;
$color-ete-light: #e6e3b3;
$color-ete: #bfa600;

$color-automne-lighter: #f7e3e3;
$color-automne-light: #e6b3b3;
$color-automne: #a13a3a;

$color-temps-lighter: #f5f5f5;
$color-temps-light: #cccccc;
$color-temps: #235a8a;

$color-rupture-lighter: #e3e0f0;
$color-rupture-light: #b3a3d6;
$color-rupture: #7d5fa3;